<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome <%= username %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
       
	<h1> </h1>
<h1 style="text-align: center">Meetings</h1>
<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 30px auto;">
            <form  method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="meeting_name" placeholder="Meeting Name">
                </div>
				 <div class="form-group">
                    <input class="form-control" type="text" name="meeting_id" placeholder="Meeting Id">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Join Meeting</button>
                </div>
            </form>
			<button class="btn btn-lg btn-primary btn-block">Create Meeting</button>
            <a href="/logout">Logout!</a>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <td scope="col">#</td>
        <td scope="col">Meeting Name</td>
        <td scope="col">Meeting Id</td>
        <td scope="col">Meeting Date</td>
        <td scope="col">Meeting Creator</td>
    </tr>
<% for(var i=0;i<meeting.length;++i){ %>
    <tr>
        <th scope="row"><%= i+1 %></th>
      
        <td><%= meeting[i].name %></td>
        <td><%= meeting[i]._id %></td>
        <td><%= meeting[i].date %></td>
        <td><%= meeting[i].creator %></td>
    </tr>
<% } %>
</table>

</body>

</html>



